* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
p {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header__wrapper {
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid #828282;
    li {
      font-weight: 400;
      font-size: 18px;
      color: #828282;
      transition: 0.5s;
      cursor: default;

      &:hover {
        color: #070707;
      }
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
.header__text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 30px;
  h1 {
    font-weight: 400;
    font-size: 47.34px;
    line-height: 100%;
    max-width: 124px;
    width: 100%;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    flex-direction: column;
  }
  h3 {
    transform: rotate(-90deg);
    @media (max-width: 600px) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: start;
  }
}

.meny {
  display: none;
  @media (max-width: 600px) {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
  }
}

.image__wrapper {
  width: 100%;
  margin-top: 50px;
  height: 60dvh;
  background-position: center;
  background-size: cover;
  animation: changer 20s infinite linear alternate;
}

@keyframes changer {
  0% {
    background-image: url(./img/66666.svg);
  }
  20% {
    background-image: url(./img/12111.svg);
  }
  40% {
    background-image: url(./img/2222.svg);
  }
  60% {
    background-image: url(./img/33333.svg);
  }
  80% {
    background-image: url(./img/4444.svg);
  }
  100% {
    background-image: url(./img/555555.svg);
  }
}

.About {
  background-color: #f6f6f6;
}
.about__wrapper {
  margin-top: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  gap: 30px;
  p {
    max-width: 400px;
    width: 100%;
  }
  .p9 {
    max-width: 280px;
    width: 100%;
  }
}

.Skills__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  padding: 70px 0;
}

.Skill__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 610px) {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.figm {
  height: 125px;

  align-items: center;
}

.Portfolio {
  background-color: #f6f6f6;
}
.Portfolio__wrapper {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;
  img {
    width: 100%;
  }
}

.foot__wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 50px 0;
  margin: 50px 0;
  p {
    width: 230px;
  }

  button {
    background-color: black;
    color: #ffff;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    border: 0;
  }
  @media (max-width: 500px) {
    button {
      width: 100%;
    }
  }
}
.img2 {
  display: flex;
  gap: 40px;
}
.like {
  color: #828282;
  width: 190px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 90dvh;

  li {
    color: grey;
    font-size: 50px;

    &:hover {
      color: #070707;
    }
  }

  ul {
    width: 100%;
    display: flex;
    text-align: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
  }
  h3 {
    transform: rotate(-90deg);
    width: 100px;
  }
  a {
    position: absolute;
    right: 30px;
    top: 60px;
  }
}
